In [1]:
#Rerun from last lecture notebook
import pandas as pd
import numpy as np
housing = pd.read_csv("sample_data/california_housing_test.csv")

# Data source
What is this data set (california_housing_test.csv)?
* Data drawn from the 1990 U.S. Census
* Each row is a block group in California
* A block group on average includes 1425.5 individuals living in a geographically compact area

# Selecting
We can access a single column in a DataFrame either of the following ways:

In [2]:
housing.total_rooms #Similar syntax to an object's attribute

0       3885.0
1       1510.0
2       3589.0
3         67.0
4       1241.0
         ...
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, Length: 3000, dtype: float64

In [3]:
housing['total_rooms'] #Similar syntax to a dictionary

0       3885.0
1       1510.0
2       3589.0
3         67.0
4       1241.0
         ...
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, Length: 3000, dtype: float64

In [4]:
#Give us only the number of rooms in the first (0th) block (row)
print(housing['total_rooms'][0]) #Even behaves like a dictionary

3885.0

# Index-based selection
* We can access a single row in a data frame using `iloc`.
* `iloc` carries out index-based selection by selecting data based on its numerical position in the data:

In [5]:
#Gives us all the values of the first block (row)
housing.iloc[0]

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

`iloc` will also allow us to select a specific column in that row.

In this case, iloc will take two parameters:
  * First: row
  * Second: column

In [6]:
#Gives us the number of rooms in the first block (row)
print(housing.iloc[0,3])

3885.0

In [7]:
#Can slice the table like we have before
#Gives us the number of rooms in the first 4 blocks (rows)
housing.iloc[:4,3]

0    3885.0
1    1510.0
2    3589.0
3      67.0
Name: total_rooms, dtype: float64

In [8]:
#Gives us the number of rooms in the last 4 blocks (rows)
housing.iloc[-4:,3]

2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, dtype: float64

In [9]:
#Gives us the number of rooms in blocks 299 and 205
housing.iloc[[299,405],3]

299     2854.0
405    12779.0
Name: total_rooms, dtype: float64

# Conditional selection

We can ask questions of our data.

In [10]:
housing.total_rooms == 96

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998     True
2999    False
Name: total_rooms, Length: 3000, dtype: bool

In [11]:
housing.total_rooms > 5000

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996     True
2997    False
2998    False
2999    False
Name: total_rooms, Length: 3000, dtype: bool

These operations produce a Series of True/False booleans. The result can then be used inside of loc (not iloc) to select the relevant data.

In [12]:
#Gives us the blocks with exactly 96 rooms
housing.loc[housing.total_rooms == 96]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1453,-122.28,37.8,52.0,96.0,31.0,191.0,34.0,0.7500,162500.0
2998,-117.12,34.1,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0

In [13]:
#Gives us the 248 blocks that have more than 5,000 rooms
housing.loc[housing.total_rooms > 5000]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
19,-122.59,38.01,35.0,8814.0,1307.0,3450.0,1258.0,6.1724,414300.0
24,-117.28,33.28,13.0,6131.0,1040.0,4049.0,940.0,3.8156,150700.0
33,-118.08,34.55,5.0,16181.0,2971.0,8152.0,2651.0,4.5237,141800.0
39,-119.01,34.23,11.0,5785.0,1035.0,2760.0,985.0,4.6930,232200.0
45,-117.24,33.17,4.0,9998.0,1874.0,3925.0,1672.0,4.2826,237500.0
...,...,...,...,...,...,...,...,...,...
2936,-119.75,36.87,3.0,13802.0,2244.0,5226.0,1972.0,5.0941,143700.0
2968,-119.23,34.17,18.0,6171.0,1490.0,2164.0,1210.0,3.6875,500001.0
2969,-118.11,34.68,6.0,7430.0,1184.0,3489.0,1115.0,5.3267,140100.0
2971,-120.93,35.76,11.0,8997.0,1698.0,1825.0,756.0,3.2300,154300.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0

loc performs label-based selection. It has a subtle difference from iloc. loc examines data index *value* instead of index *position*.

In [14]:
#Narrows down the above 248 blocks (that have more than 5,000 rooms)
#Now also only shows us the blocks with a median income above 100K
housing.loc[(housing.total_rooms > 5000) & (housing.median_income > 10)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
161,-117.85,33.62,13.0,5192.0,658.0,1865.0,662.0,15.0001,500001.0
686,-122.00,37.86,18.0,8953.0,1074.0,3011.0,993.0,10.7372,500001.0
1222,-117.81,33.83,8.0,7326.0,884.0,2569.0,798.0,10.1570,477100.0
1329,-118.12,33.77,10.0,7264.0,1137.0,2528.0,1057.0,10.2233,500001.0
2004,-118.47,34.10,32.0,8041.0,1141.0,2768.0,1106.0,11.1978,500001.0
2350,-118.54,34.15,26.0,10111.0,1295.0,3599.0,1257.0,10.2292,500001.0

# Your data

* Import pandas
* Load your CSV into a data frame
* Run some conditional selections

# Adding data
Our DataFrame is writeable, so we can append more data to it.

In [15]:
#Current columns we have
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [16]:
#Create a new column that divides two existing columns
housing['median_income_per_household'] = housing['median_income'] / housing['households']
housing.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'median_income_per_household'],
      dtype='object')

In [17]:
#Gives us blocks based on our new column
housing.loc[housing.median_income_per_household > 1]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,median_income_per_household
666,-121.89,37.42,26.0,40.0,8.0,52.0,7.0,7.7197,225000.0,1.102814
1050,-121.96,37.74,2.0,200.0,20.0,25.0,9.0,15.0001,350000.0,1.666678

# Summary functions

In [18]:
#Gives us a high-level summary of the data in the median_income column
housing.median_income.describe()

count    3000.000000
mean        3.807272
std         1.854512
min         0.499900
25%         2.544000
50%         3.487150
75%         4.656475
max        15.000100
Name: median_income, dtype: float64

In [19]:
#Gives us the largest value in the median_house_value column
print(housing.median_house_value.max())

500001.0

In [20]:
#Gives us the number of unique household sizes and their count
housing.households.value_counts()

households
375.0     12
273.0     12
614.0     12
456.0     11
340.0     11
          ..
1313.0     1
61.0       1
1520.0     1
1058.0     1
1216.0     1
Name: count, Length: 1026, dtype: int64