---> COMPLETE PART **ONE** OF ASSIGNMENT 09-24

# The print function

When you *evaluate* an *expression*, the result is displayed.

In [2]:
n = 2
n + 1

3

But if you *evaluate* more than one *expression*, only the value of the last one is displayed.

In [3]:
n + 2
n + 3

5

To display more than one value, you can use the `print` function.

In [4]:
print(n+2)
print(n+3)

4
5

It also works with strings.

In [5]:
"This is"
"a string"

'a string'

In [6]:
print("This is")
print("a string")

This is
a string

You can also use a sequence of expressions separated by commas.

In [9]:
print("This is", "a string")

This is a string

Notice that the `print` function puts a space between the values, while concatenation does not.

In [12]:
print("This is" + "a string")

This isa string

This might not always be helpful as we see below.

In [13]:
digit1 = 4
digit2 = 8
print("Your number is", str(digit1), str(digit2), ".")

Your number is 4 8 .

In this case, concatenation works better.

In [14]:
print("Your number is", str(digit1) + str(digit2) + ".")

Your number is 48.

---> COMPLETE PART **TWO** OF ASSIGNMENT 09-24

# Arguments

When you call a function, the expression in parenthesis is called an **argument**.

We've only talked about giving a function one argument like below:

In [15]:
float("1.0")

1.0

But some functions take two, like `math.pow`.

In [23]:
import math
math.pow(5,2)

25.0

Some can take additional arguments that are optional:

In [20]:
round(math.pi)

3

In [21]:
round(math.pi, 3)

3.142

In [24]:
round(3, math.pi)

TypeError: 'float' object cannot be interpreted as an integer

Some functions can take any number of arguments, like `print`.

In [ ]:
print('Any', 'number', 'of', 'arguments')

In [ ]:
print('Any ' + 'number ' + 'of ' + 'arguments')

If you call a function and provide too many arguments, that's a `TypeError`.

In [25]:
float('123.0', 2)

TypeError: float expected at most 1 argument, got 2

If you provide too few arguments, that's also a `TypeError`.

In [26]:
math.pow(2)

TypeError: pow expected 2 arguments, got 1

And if you provide an argument with a type the function can't handle, that's a `TypeError`, too.

In [27]:
math.sqrt('123')

TypeError: must be real number, not str

This kind of checking can be annoying when you are getting started, but it helps you detect and correct errors.

---> COMPLETE PART **THREE** OF ASSIGNMENT 09-24